*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* common class */

.container{
width: 1200px;
margin:0 auto;
}


.clearfix::after{
  content: "";
  display:table;
  clear: both;
}
.left{
  float: left;
}


.clearfix::after{
  content: "";
  display:table;
  clear: both;
}
.right{
  float: right;
}


.navbar>ul>li{
  display: inline;
  padding: 10px;
}

.navbarup{
  line-height: 40px;
}


.navbarup.clearfix, .navbardown.clearfix{
  width: 90%;
  margin:0 auto;
}
.navbarup.clearfix{
  background-color: lightblue;
}

.navbardown.clearfix{
  background-color: white;
}

h1, h4, p, h5{
  font-family: 'Roboto', sans-serif;
}

/* end common class */

header{
  height: 600px;
  min-width: 1200px;
  background-image: url("../img/jumbotron.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}
.color-navbar{
  width: 1200px;
  background-color:lightblue;
}

.color-navbar2{
  width: 1200px;
  background-color:white;
}

.navbar.right{
margin: 10px 10px;
}

.navbar.left{
  margin-top: 10px;
}

.jumbotron{
  width: 500px;
  height: 350px;
  position: relative;
  padding: 40px 0;
  margin:50px 50px;
}
.jumbotron, h1, h4{
  padding:15px 20px;
}


.gethub{
  background-color: orange;
  margin-left:20px;
  padding:10px 0;
}

.slogan{
  width: 80%;
  margin:0 auto;
  text-align: center;

}
.triangolo, .libro{
  height: 100px;
}
.triangolo, h3{
  margin-top:15px;
}

.sfondogiallo{
  width: 100%;
  margin:0 auto;
  background-color:#FFFACD;
}

.section{
  width: 70%;
  height: 200px;
  margin-top: 20px;
  margin:0 auto;
  position: relative;
  margin-top: 30px;
  background-color: #F8F8FF
}
.box1,.box2{
  display:inline-block;
}
.box1{
  width:30%;
 text-align: center;
}

.box2{
  width:60%;
  position: absolute;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
}
.learnmore{
  width:150px;
  height: 50px;
  background-color: orange;
  border-radius: 4px;
}
.box2, ul>li{
  display: inline;
}
.box2, h2, p, ul,li{
  padding: 10px;
}

.section2{
  width:90%;
  margin:0;
  margin-left: 120px;
  margin-top: 30px;
  background-color:#FFFACD;
}
 .box3, .box4, .box5{
   width: 20%;
  height: 400px;
  text-align: center;
  padding: 0 20px;
  margin:50px;
  background-color: white;
 }

 .box3 ul li, .box4 ul li, .box5 ul li{
   display: block;
   padding:0 0;
   text-align: left;
 }

 .section3{
  width: 80%;
  height: 200px;
   margin: 0 auto;
 }
 .section3 .slogan h3{
   margin-top:0px;
   padding-top:15px;
 }

  .section3 .slogan:first-child h3{
   font-size: 25px;
   color: white;
 }
 .section3 .slogan:last-child p{
  font-size: 15px;
  color: white;
}

.section4:last-child p, .number{
color:white;
}
 .color-section3-4{
   background-color: lightblue;
 }

 /* inizio section 4 */
 .section4{
   width:70%;
   height: 500px;
   margin:0 auto;
 }

.number:after{
  content: '+';
}

 .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13{
  height: 200px;
  text-align: center;
  padding: 10px 10px;

  }

  .box7, .box11{
  border-left:1px solid black;
  }

  .box8, .box12{
    border-right:1px solid black;
  }
  .box6, .box7, .box8, .box9{
    border-bottom: 1px solid black;
  }

  .mano{
    height: 30px;
  }
  .number{
    display: block;
    padding: 25px;
    font-size: 25px;
  }

  /* end section 4 */

  /* inizio section 5 */

  .section5{
    width: 70%;
    height: 200px;
    margin-top: 20px;
    margin:0 auto;
    position: relative;
    margin-top: 30px;
  }
  .box1,.box2{
    display:inline-block;
  }
  .box1{
    width:30%;
   text-align: center;
  }

  .box2{
    width:60%;
    position: absolute;
    margin-right: 0;
    margin-top: 0;
  }

  .section5 .box1{
    text-align: left;
    padding:20px 20px;
    margin: 10px 10px;
    font-size: 20px;
  }
  .section5 .box2{
    padding:20px 20px;
    margin: 10px 10px;
    font-size: 20px;
  }
/* end section 5 */

/* inizio section 6 */
  .section6{
    width: 80%;
    margin-top: 20px;
    margin:0 auto;
    position: relative;
    margin-top: 30px;
  }
  .box1,.box2{
    display:inline-block;

  }
  .box1{
    width:30%;
   text-align: center;
  }

  .section6 .box1{
    text-align: left;
    padding:20px 20px;
    margin: 10px 10px;
    font-size: 20px;
  }
  .section6 .box2{
    width:60%;
    margin-top: -30px;
    margin-left: 300px;
    position:absolute;
 }

  /* end section 6 */

  /* giumbatron2 */
  .jumbotron2{
    width: 500px;
    height: 400px;

  }
  /* fine giumbatron2 */

  .woman{
    height: 400px;
  }

  /* footer */
  footer{
    width: 100%;
    height: 300px;
    background-color:lightblue;
    margin:0 auto;

  }
  .opzioni{
    width: 80%;
    margin: 0 auto;
  }
  .colonna1, .colonna2, .colonna3{
    display: inline-block;
    position: relative;
    padding:0 50px;
  }

  h5{
  padding:20px 20px;
  }

  .colonna1 ul li, .colonna2 ul li, .colonna3 ul li {
    display: block;
  }

  .lingue{
    padding-bottom: 0;
    text-align: center;
  }
  .lingue ul li{
    display:inline;
  }
  .credits{
    width: 70%;
    margin: 0 auto;
    border-top:1px solid white;
    position: relative;
    padding:10px;
  }
  .nome, .cognome{
    display: inline-block;
    margin-bottom: 10px;
  }
  .nome{
    width:50%
  }
  .cognome{
  width: 50%;
   position: absolute;
    margin-top:0;
    margin-right:0;
    text-align: right;
  }
